# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Логи
*.log


# Кеш и зависимости
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Конфиденциальные данные
.env
*.key
*.pem