# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Логи
*.log

# Игнорируем Docker файлы
*.log
*.env
docker-compose.override.yml
.docker
*.tar
*.img

# Кеш и зависимости
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Конфиденциальные данные
.env
*.key
*.pem